---
import Layout from '../layouts/Layout.astro';
import { getProfile } from '@/config';

const profile = getProfile();

---

<Layout
title={profile.NAME}
description={profile.DESCRIPTION}
>
	<main>
        About
	</main>
</Layout>
