---
import Layout from '@/layouts/Layout.astro';
import { getProfile } from '@/config';
import About from '@/content/about.mdx';

const profile = getProfile();

---

<Layout
title={profile.NAME}
description={profile.DESCRIPTION}
>
	<main>
        <section class="mx-auto max-w-screen-md mb-16 px-4">
            <About />
        </section>
	</main>
</Layout>
