---
import Layout from '../layouts/Layout.astro';
import { getProfile } from '@/config';
import ProfilePicture from '@/components/ProfilePicture.astro';

const profile = getProfile();

---

<Layout
title={profile.NAME}
description={profile.DESCRIPTION}
>
	<main>
        <ProfilePicture />
	</main>
</Layout>
