---
import Layout from '../layouts/Layout.astro';
import { getProfile, getDiagrams, getSpeaker, getPosters } from '@/config';
import Quotes from '@/components/Quotes.astro';
import Slider from '@/components/Slider.astro';
import Timeline from '@/components/Timeline';

const profile = getProfile();
const diagrams = getDiagrams();
const speaker = getSpeaker();
const posters = getPosters();
---

<Layout
title={profile.NAME}
description={profile.DESCRIPTION}
>
	<main class="mx-auto mb-16 px-4">
        <Quotes />
        <Slider hrefs={diagrams} />
	</main>
</Layout>
