---
import { getProfile } from '@/config';

const profile = getProfile();
---

<div class="text-center mt-28 mb-14">
  <img
    src="/profile.webp"
    loading="lazy"
    class="mx-auto mb-4 w-32 rounded-full aspect-square"
    alt="Avatar" />
  <h1 class="mb-2 text-xl font-medium leading-tight">{profile.NAME}</h1>
  <p class="text-zinc-400">{profile.JOB_TITLE}</p>
</div>
